{% extends "base.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}

    {% include "classpath:/templates/_partials/navbar.twig" ignore missing %}

    <div class="container">

        <h1>Inscription</h1>

    </div>

{% endblock %}
