{% block assets %}
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CDISA Football</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <div class="nav-item">
            <a class="btn btn-primary" href="/inscription">S'inscrire</a>
        </div>

        <div class="nav-item">
            <a class="btn btn-outline-success" href="/connexion">Se connecter</a>
        </div>
    </div>
</nav>
